body{

margin:0;
font-family:Arial,Helvetica,sans-serif;
background:#fff7f8;

}

.container{

width:90%;
max-width:1200px;
margin:auto;
padding:40px;

}

h1{

text-align:center;
color:#e63946;
margin-bottom:40px;

}

.gift-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:30px;

}

.card{

background:white;
border-radius:20px;
padding:25px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.type{

font-size:18px;
font-weight:bold;
color:#e63946;

}

.title{

margin-top:15px;
font-size:28px;
font-weight:bold;

}

.description{

margin-top:15px;
line-height:1.6;
color:#555;

}

.date{

margin-top:20px;
font-weight:bold;
color:#e63946;

}

button{

margin-top:25px;
width:100%;
padding:14px;
border:none;
border-radius:10px;
background:#e63946;
color:white;
font-size:17px;
cursor:pointer;

}

button:hover{

background:#d62839;

}

.viewer{

display:none;

position:fixed;

left:0;
top:0;

width:100%;
height:100%;

background:rgba(0,0,0,.92);

justify-content:center;
align-items:center;
flex-direction:column;

z-index:999;

}

.viewer img{

max-width:90%;
max-height:70%;
border-radius:15px;

}

.viewer video{

max-width:90%;
max-height:70%;
border-radius:15px;

}

.viewer iframe{

width:90%;
height:75%;
border:none;
border-radius:15px;
background:white;

}

.viewer h2{

color:white;
margin-top:20px;

}

.viewer p{

color:#ddd;

}

#closeViewer{

position:absolute;

top:20px;
right:35px;

font-size:55px;

color:white;

cursor:pointer;

}

#backBtn{

position:fixed;

top:25px;

left:25px;

width:170px;

padding:12px;

background:#e63946;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

z-index:1000;

}

#backBtn:hover{

background:#d62839;

}