body{

margin:0;
font-family:Arial,Helvetica,sans-serif;
background:#fff7f8;

}

.container{

width:90%;
max-width:1300px;
margin:auto;
padding:40px;

}

h1{

text-align:center;
color:#e63946;
margin-bottom:40px;

}

.gallery-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;

}

.card{

background:white;
border-radius:20px;
overflow:hidden;
cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.1);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card img{

width:100%;
height:250px;
object-fit:cover;

}

.info{

padding:20px;

}

.date{

color:#e63946;
font-weight:bold;

}

.title{

margin-top:10px;
font-size:24px;

}

.viewer{

display:none;

position:fixed;

left:0;
top:0;

width:100%;
height:100%;

background:rgba(0,0,0,.9);

justify-content:center;
align-items:center;
flex-direction:column;

z-index:999;

}

.viewer img{

max-width:85%;
max-height:75%;
border-radius:15px;

}

.viewer h2{

color:white;
margin-top:25px;

}

.viewer p{

color:#ccc;

}

#closeViewer{

position:absolute;

top:25px;
right:40px;

font-size:55px;

color:white;

cursor:pointer;

}

#backBtn{

position:fixed;

top:25px;

left:25px;

width:170px;

padding:12px;

background:#e63946;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

z-index:1000;

}

#backBtn:hover{

background:#d62839;

}